includes:
        - vendor/phpstan/phpstan-doctrine/extension.neon
        - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 6 #https://phpstan.org/user-guide/rule-levels
    paths:
        - src
    ignoreErrors:
        - '#no value type specified in iterable type#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
        - '#Method Cypress\\PatchManager\\OperationMatcher::getUnmatchedOperations\(\) should return PhpCollection\\Sequence but returns PhpCollection\\AbstractSequence#'
        - '#Property Cypress\\PatchManager\\Exception\\InvalidJsonRequestContent::\$message has no type specified#'
