includes:
        - vendor/phpstan/phpstan-doctrine/extension.neon
        - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 2 #https://phpstan.org/user-guide/rule-levels
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
        - '#Call to an undefined method Prophecy\\Prophecy#'